<configuration scan="true">
    <property name="DEV_HOME" value="${user.dir}/log"/>
    <property name="HTML_HOME" value="${user.dir}/htmlLog"/>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) - %highlight( %msg%n)
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/timeBasedlogFile_${bySecond}.log</file>  <!-- z timestamp-->
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${DEV_HOME}/timeBasedlogFile.%d{yyyy-MM-dd-HH-mm}.zip</fileNamePattern>
            <maxHistory>3</maxHistory>
            <totalSizeCap>30KB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="HTML" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HTML_HOME}/timeBasedlogFile_${bySecond}.html</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${HTML_HOME}/timeBasedlogFile.%d{yyyy-MM-dd}.%i.html.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}%-5level%logger{35}%msg</pattern>
            </layout>
        </encoder>
    </appender>

    <!--    <logger name="AutomationSiteNameTest.class" level="info">-->
    <!--        <appender-ref ref="FILE"/>-->
    <!--    </logger>-->

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="HTML"/>
    </root>
</configuration>